extends ../layout

block content
    h3 Authors
    a(href = '/authors/add') Add New Author
    table
        thead
            tr
                th Picture
                th First
                th Last
                th Date Of Birth
                th
        tbody
            each author in authors
                tr
                    td
                        img(src = author.picture)
                    td= author.first_name
                    td= author.last_name
                    td= author.date_of_birth
                    td
                        a(href = `/authors/profile/${author.id}`) View Author

