doctype html
html
  head
    title= 'Library of Ruina'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      div.library-title Library of Ruina

      div.nav-content
        ul
          li
            a(href = '/books') Books
          li
            a(href = '/authors') Authors
      div
    div.container
      div.content-container
        block content
