mixin authorForm(author, saveUrl, cancelUrl)

    div.form-container
        form(action = saveUrl method = 'post')
            div.form-input
                label(for = 'first_name') First Name
                input(id = 'first_name' name = 'first_name' value = author.first_name)

            div.form-input
                label(for = 'last_name') Last Name
                input(id = 'last_name' name = 'last_name' value = author.last_name)

            div.form-input
                label(for = 'date_of_birth') Date of Birth
                input(type = 'date' id = 'date_of_birth' name = 'date_of_birth' value = author.date_of_birth)

            div.form-buttons
                a.button(href = cancelUrl) Cancel
                button.button.primary(type = 'submit') Save