mixin bookForm(book, genres, saveUrl, cancelUrl)

    div.form-container
        form(action = saveUrl method = 'post')
            div.form-input
                label(for = 'title') Book Title:
                input(id = 'title' name = 'title' value = book.title)

            div.form-input
                label(for = 'genre') Genre:
                select(id = 'genre' name = 'genre')
                    each genre in genres
                        option(value = genre selected = (genre === book.genre)) #{genre}

            div.form-input
                label(for = 'publisher') Publisher:
                input(id = 'publisher' name = 'publisher' value = book.publisher)

            div.form-input
                label(for = 'page_count') Page Count:
                input(id = 'page_count' name = 'page_count' type = 'number' value = book.page_count)

            div.form-input
                label(for = 'cover_image') Cover Image URL:
                input(id = 'cover_image' name = 'cover_image' value = book.cover_image)

            div.form-input
                label(for = 'description') Description:
                textarea(id = 'description' name = 'description' rows=10 cols=80) #{book.description}

            div.form-buttons
                a.button(href = cancelUrl) Cancel
                button.button.primary(type = 'submit') Save
