extends ../layout

block content
    h3 Books
    table
        thead
            tr
                th Cover
                th Title
                th Genre
                th Publisher
                th Actions
        tbody
            each book in books
                tr
                    td
                        img(src = book.cover_image)
                    td= book.title
                    td= book.genre
                    td= book.publisher
                    td
                        a(href = `/books/profile/${book.id}`) View Book